@import url('https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&family=Open+Sans&family=Roboto&display=swap');
*{
    margin:0;
    padding:0;
}
/*body{
    background-image:url(pexels-aleksandar-tomovic-5100182.jpg);
    background-size:cover;
    
}*/

    /*CSS trik sa pseudo elementom da bi se napravila providna pozadina sa slikom*/

body::after {
    content: "";
    background: url(pexels-aleksandar-tomovic-5100182.jpg);
    background-size:cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
body h1{
    font-family: 'Roboto', sans-serif;
}
header{
    text-align: center;
}
header h1{
    font-family:  'Open Sans', sans-serif;
}
header h1 span{
    font-family:  'Liu Jian Mao Cao', cursive;
}
.container{
    width:70%;
    margin:auto;
    border:1px dotted aquamarine;
    text-align: center;    
}
.row{
    display:flex;
    justify-content: space-between;
}
.članak{
    border:1px solid aquamarine;
    padding:30px;
    flex:0 0 17%;
    background-size: cover;
    background-position: center;
}
.tramvaj{
    background-image: url(pexels-aleksandar-tomovic-5100198.jpg);
}
.grafiti{
    background-image: url(pexels-aleksandar-tomovic-5100190.jpg);
}
.lunapark{
    background-image: url(pexels-aleksandar-tomovic-5100186.jpg);
}
.brod{
    background-image: url(pexels-aleksandar-tomovic-5131005.jpg);
}
footer{
    text-align: center;
}
footer hr{
    height:1px;
    background-color:aquamarine;
    border:none;
}
footer h2 sub{
    font-family: 'Liu Jian Mao Cao', cursive;
}